body{
    margin: 40px;
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #444;
    grid-gap: 15px;
    color: #fff;
    align-content: start;
}

.box{
    background-color: #7d4040;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.box1{
    background-color: #7d4040;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.header{
    grid-column: 1/6;
}

.article{
    display: flex;
    justify-content: center;
    grid-column: 1/5;
    gap: 50px;
}
.article2{
    grid-column: 1/6;
}

.aside{
    grid-column: 5/6;
    grid-row: 2/3;
}

.footer{
    grid-column: 1/6;
}

#Nombre{
    opacity: 50%;
}

#email{
    opacity: 50%;
}

#texto{
    opacity: 50%;
}

#color{
    color: #fff;
}